body{
    background-color: rgba(56, 142, 240, 0.568);
}
h1{
   color: rgb(15, 49, 240);
   font-style: Monospace;
}
h2{
    color:red;
    font-style: Monospace
}
.img1 {
    width: 50%;
    text-align: center;
}

h3{
    color:white;
    font-style: Monospace;
}
h4{
    color:black;
    font-style: Monospace;
}

.lista {
    text-align: left;
    font-style: italic;
    text-decoration: overline;
    color: ghostwhite;
}
